/* Base styles ------------ */
* {

    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.container {
    width:85%;
    margin: 0;
    overflow: hidden;
    
}

/* styling the forms ------------ */


#signup-box,
#login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    background: #fff;
    padding: 40px;
    border: 3px solid rgba(0,0,0,.1);
    box-shadow:0 5px 10px rgba(0,0,0,.2);
    border-radius: 50px 10px;
    width: 50%;
    border-color: #2E8C9E;
    
}

#login-box {

    width: 28%;
    height: 70%;
    border-radius: 25px 5px;
         
}

#signup-box h1,
#login-box h1 {
    margin-bottom: 40px;
    color: #2E8C9E;
    text-shadow: 0 1px 1px rgba(0,0,0, 10)
}

#login-box h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 3%;
}

#login-box p {
    text-align: center;
    color: black;
    margin-top: 0;
    font-size: 1.1em;
    margin-bottom: 20%; 
}

#signup-box p {
    color: #000;
    margin-bottom: 70px;
    
    font-size: 1.1em;
}
#signup-box input,
#login-box input {
    width: 80%;
    box-shadow: none;
    border: none;
    outline:none;
    border-bottom: 2px solid #999;
    margin-bottom: 40px;
    font-size: 1.2em;
    
}

#login-box input {
    width: 90%;
    margin-bottom: 50px;
}



#signup-box form div,
#login-box form div {
    position: relative;
}

#signup-box form div label,
#login-box form div label {
    position: absolute;
    top: 10x;
    left:0;
    color:#999;
    pointer-events: none;
    transition: .5s;
    font-size: 1.3em;
    
    
   
}

#signup-box input:focus ~ label,
#signup-box input:valid ~ label,
#login-box input:focus ~ label,
#login-box input:valid ~ label { 
    top: -39px;
    left: 0;
    
   
    color: #2E8C9E;;
    font-size: 1em;
    

}

#signup-box #btn-signup,
#login-box #btn-login  {
    
    width: 40%;
    padding: 10px;
    background: #2E8C9E;
    border-bottom: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.2em;
    border-radius: 8px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
   
 }

 #login-box #btn-login  {
     margin-top:0;
 }


#login-form .display-one-line #btnForgotPassword {
    margin-top: -12px;
    margin-bottom: 40px;
}

 #login-box #btn-login  {
    width: 60%;
 }
 
 #signup-box #btn-signup:hover,
 #login-box #btn-login:hover   {
     background: #53c0d6;
     color: #fff;
       
 }
 
 
 #signup-box #btn-login,
 #login-box #btn-signup,
 #login-box #btnForgotPassword  {
     width: 50%;
     padding: 10px;
     border: none;
     background-color: inherit;
     cursor: pointer;
     color: #2E8C9E;
     font-size: 1.2em;
     margin-top: 20px;
     margin-bottom: 10px;    
 }
 
 #login-box #btn-signup,
 #login-box #btnForgotPassword {
    width: 100%;
    margin-top: 0;
 }


 #signup-box #btn-login:hover,
 #login-box #btn-signup:hover ,
 #login-box #btnForgotPassword:hover    {
     
     background-color:#e3f2fd;
     color: #2E8C9E;
     border-radius: 12px;
    
 }


/*Displaying form fields in one line ------------ */

#signup-form .display-one-line,
#login-form .display-one-line  {

    display: flex;
    width: 100%;
    margin-top: 20px;
   
   
    

}

#signup-form .float-left,
#login-form .float-left  {
    width: 50%;
}

#signup-form .float-right,
#login-form .float-right  {
    
    
    width: 50%;
   
}